.details-container {
    margin-top: 140px;
    padding: 0 30px;
    /* display: flex;
    justify-content: center; */
}

.product-image-div {
    padding: 0;
    margin: 0;
}

.product-info-div {
    margin: 0;
}